<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="cultureName" value="ru-RU" />	<!-- ru-RU - русский, en-US - английский -->
		<add key="weatherLog" value="false" />
		<add key="weatherRequestAppid" value="c84974a64cc0421da3d5e785db1d43d7" />
		<add key="weatherRequestTimeout" value="15000" />
		<add key="weatherForecastTimeSpan" value="1.00:00:00" />	<!-- D.HH:mm:ss - выдавать прогноз погоды на момент от текущего времени -->
		<add key="useWindvaneColors" value="true" />	<!-- Использовать цветовую раскраку флюгера -->
		<add key="emergencyColors" value="true" />	<!-- Использовать цвета уровней опасности: зелёный, жёлтый, оранжевый и красный -->
		<add key="statePosTop" value="false" />	<!-- Расположение состояний - сверху -->
		<add key="staticPropertyBorders" value="true" />
		<add key="dynamicPropertyBorders" value="true" />
		<add key="showElectricPowerLines" value="true" />
		<add key="electricPowerLinesFile" value="ElectricPowerLines.txt" />
		<add key="colorsGrouping" value="None" />	<!-- None, ByColors, ByPercent -->
		<add key="energyFlowInterval" value="200" />
	</appSettings>
</configuration>